@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --text-color-dark: #1e1e1e;
    --heading-dark: #0D1B39;
    --text-color-light: white;
    --accent-color: #E58411;
    --accent-secondary:#0D1B39;
    --bg-primary: white;
    --bg-secondary: #EEEEEE;
    --small-text-color:#8D8D8D;
}

body{
    font-family: 'Poppins', sans-serif;
}

.header{
    position: relative;
    color: var(--text-color-light);
}

.nav{
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    background:transparent;
    position: absolute;
    top: 0;
    justify-content: space-between;
    width: 100%;
}

.nav-logo{
    font-size: 2rem;
    font-weight: bold;
}

.nav-list{
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
}

.hero{
    background:linear-gradient(to right, rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('../images/hero-section.png');
    background-position: center;
    background-size: cover;
    min-height: 150vh;
    display: grid;
    justify-content: center;
    align-items: start;
    color: var(--text-color-light);
}

.hero-text{
    display: grid;
    gap: 1.2rem;
    margin-top: 10rem;
}

.hero-text input[type="text"]{
    margin-inline: auto;
    align-self: center;
    background-color: rgba(255,255,255,0.15);
    border: 2px solid rgba(255,255,255,0.6);
    padding: 0.8rem 1.2rem;
    border-radius: 30px;
    color: rgba(255, 255, 255, 0.817);
    display: block;
}

.hero-text input[type="text"]::placeholder{
    color: rgba(255, 255, 255, 0.817);
}

.hero-title{
    font-size: 3.2rem;
    text-align: center;
}

.hero-description{
    max-width: 70%;
    margin-inline: auto;
    text-align: center;
}

.features{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 4.5rem;
    gap: 2rem;
    align-items: center;
}

.feature-question, .feature-title{
    color:var(--text-color-dark);
}

.feature-description{
    color: var(--text-color-dark);
}

.feature-question{
    font-size: 1.5rem;
}

.attribution{
    display: grid;
}

.attribution a{
    width: 100%;
    color: var(--text-color-dark);
    text-align: center;
}

.hero-input-wrapper{
    position: relative;
    /* width: 35%; */
    margin-inline: auto;
}

.hero-input-wrapper > img{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    background-color: var(--accent-color);
    border-radius: 50%;
    padding: 0.2rem;
}

.arrow-btn{
    margin-top: 0.8rem;
    display: flex;
    background: transparent;
    border: none;
    align-items: center;
    gap: 1.2rem;
    color: var(--accent-color);
    cursor: pointer;
}

.feature > button > img{
    width: 30px;
}

.best-products{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#F7F7F7;
    color: var(--text-color-dark);
    padding: 3rem;
    gap: 1rem;
}

.product-tagline{
    font-size: 2rem;
}

.products-tab{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    background-color: var(--bg-secondary);
    margin-bottom: 1rem;
}

.products-tab > li:first-child{
    background-color: var(--bg-primary);
    border-radius: 15px;
    height: 100%;
    display: block;
    padding: 5px 10px;
}

.best-products > .products{
    margin-top: 1rem;
    width: 100%;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}


.product{
    display: grid;
    justify-content: center;
}

.product > img{
    max-width: 100%;
    width: 70%;
}

.product-type{
    color: var(--small-text-color);
}

.product-title{
    color: var(--heading-dark);
}
.product-description{
    background-color: var(--bg-primary);
    padding: 1rem;
    border-radius: 15px;
}

.product-rating img{
    max-width: 10px;
}

.product-price{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-price > span{
    color: var(--text-color-dark);
    font-weight: 600;
    font-size: 1.1rem;

}
.product-price > button{
    border-radius: 50%;
    border: none;
    background-color: var(--accent-secondary);
    color: var(--text-color-light);
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 12px;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-btn > img{
    width: 20px;
}

.product-btn{
    margin-top: 1.2rem;
    gap: 10px;
}

@media (max-width:475px) {
    :root{
        font-size: 12px;
    }

    .hero-title{
        font-size: 2.3rem;
    }
}